.button {
    font-size: 1.5em;
    color: white;
    background-color: darkolivegreen;
    border-radius: 5px;
}

.button2 {
    font-size: 1.5em;
    color: white;
    background-color: #9f300b;
    border-radius: 5px;
}