body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8c96a7;
}

#myH1 {
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: hsl(0, 0%, 25%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: snow;
}

#display {
    font-size: 5rem;
    font-family: "Courier New", serif;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.76);
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn {
    background-color: hsl(115, 100%, 32%);
}
#startBtn:hover {
    background-color: hsl(116, 100%, 22%);
}
#stopBtn {
    background-color: hsl(0, 100%, 39%);
}
#stopBtn:hover {
    background-color: hsl(0, 100%, 29%);
}
#resetBtn {
    background-color: hsl(212, 99%, 43%);
}
#resetBtn:hover {
    background-color: hsl(212, 99%, 33%);
}
